@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
* {
  margin: 0;
  padding: 0;
}

* {
  list-style: none;
  color: rgb(202, 202, 202);
}

.header {
  margin: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.head li {
  margin-left: 50px;
  font-size: x-small;
  text-wrap: nowrap;
}

.color-conteiner {
  background-color: #313F38;
}

.tochka {
  color: #313F38;
}

h1 {
  margin: 10px;
  color: white;
  font-size: 150px;
}

span {
  color: #FCD043;
}

.mini-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mini-menu li {
  color: #FCD043;
  display: inline-block;
  margin-left: 4px;
  margin-top: 30px;
  font-size: 20px;
}

ul li {
  font-family: sans-serif;
}

p {
  font-family: sans-serif;
}

.p-text1 {
  font-size: small;
  margin-top: 50px;
}

.Since {
  width: 180px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgb(176, 176, 176);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 30px;
}

.Since p {
  color: white;
  text-align: center;
  text-wrap: nowrap;
}

.sun {
  margin-left: 20px;
  width: 15%;
}

.all-elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.main-conteiner1 {
  padding: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ikons1 {
  width: 80px;
}

.text-foto1 {
  z-index: 1;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-left: 738px;
}

.text-foto1 button {
  background-color: rgba(150, 150, 150, 0.5);
  color: white;
  margin-right: 1px;
  height: 110px;
  width: 250px;
  font-family: sans-serif;
  border: none;
}

.text-foto1 button:last-child {
  background-color: #fcd043;
  color: black;
  text-align: center;
}

.foto1 {
  margin: 30px;
  position: relative;
  width: 1460px;
}

.foto-and-text1 {
  background-color: #313F38;
}

.text-pod-foto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  background-color: #313F38;
  height: 200px;
}

.text-pod-foto a, p {
  margin: 20px;
}

.foto2-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #313F38;
  height: 800px;
}

.img-2 {
  z-index: 1;
  width: 410px;
  margin-left: 30px;
  height: 600px;
  margin-top: 70px;
}

.icons-2 {
  width: 80px;
  height: 80px;
  margin-left: 1240px;
  position: absolute;
}

.img-3 {
  position: relative;
  margin-top: 50px;
  margin-right: 30px;
  height: 250px;
}

.High {
  color: rgb(255, 255, 255);
  font-size: 50px;
}

.US {
  color: rgb(255, 255, 255);
  font-size: 80px;
}

.ABOUT {
  font-size: 100px;
  margin-top: 80px;
}

.icons-3 {
  position: absolute;
  height: 130px;
  width: 130px;
  margin-top: 400px;
  margin-left: 1300px;
}

h3 {
  margin-top: 100px;
}

.Ellipse {
  position: absolute;
  width: 1100px;
  margin-left: 59px;
}

.Vector-14 {
  position: absolute;
  margin-left: 600px;
  width: 920px;
}

.background-w-text1 {
  margin-top: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h4 {
  color: black;
  font-size: 100px;
  margin-left: 30px;
}

.background-w-text1-1 {
  color: rgb(21, 21, 21);
  margin-right: 50px;
}

.width-foto-1-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.width-foto-1 {
  margin-left: 30px;
  margin-top: 90px;
  height: 290px;
}

.width-foto-2 {
  height: 600px;
  margin-right: 30px;
  position: relative;
}

.Since-text-2 {
  color: rgb(17, 17, 17);
}

.since-2 {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 35px;
  height: 50px;
  width: 200px;
  margin-top: 90px;
  margin-right: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sun-2 {
  height: 29px;
}

.width-text-2 {
  color: rgb(87, 87, 87);
  font-size: x-small;
  position: absolute;
  z-index: 1;
  margin-left: 460px;
  margin-top: 450px;
}

.Superior-Twin {
  color: black;
  font-size: 55px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.button-2 {
  margin-left: 40px;
  height: 120px;
}

.devidet {
  margin-left: 10px;
  margin-top: 100px;
  width: 1500px;
}

.art-2 {
  color: black;
  margin-top: 100px;
}

.img-4-w {
  margin-top: 300px;
  margin-left: 30px;
  width: 400px;
  position: relative;
}

.out {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 80px;
  color: black;
  margin-left: 600px;
  position: absolute;
  z-index: 1;
}

.color-p {
  color: black;
}

.lities {
  position: absolute;
  z-index: 1;
  font-size: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 720px;
  margin-top: 160px;
}

.barmen {
  position: absolute;
  z-index: 1;
  margin-left: 760px;
  width: 300px;
  margin-top: 40px;
}

.barmen-o {
  position: absolute;
  z-index: 2;
  margin-left: 710px;
  width: 100px;
}

.text-bank-mini {
  margin-left: 600px;
  color: black;
  position: absolute;
  z-index: 1;
  margin-top: 450px;
}

.divider-2 {
  margin-top: 60px;
  margin-bottom: 60px;
  width: 1500px;
  margin-left: 5px;
}

.big-foto {
  width: 1519px;
  margin-left: 0;
}

.ice-foto-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.ice-foto {
  margin-left: 616px;
  width: 300px;
}

.ise-text {
  color: rgb(0, 0, 0);
  margin: 100px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ise-text-span {
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 60px;
}

.art-3 {
  margin-top: 150px;
}

.our-gallery-text {
  text-align: center;
}

.our-gallery {
  color: #FCD043;
  font-size: 90px;
  font-family: "Times New Roman", Times, serif;
}

.text-pod-our-gallery {
  color: rgb(161, 161, 161);
}

.foto-1 {
  position: absolute;
  z-index: 1;
  width: 270px;
  height: 180px;
}

.foto-2 {
  margin-left: 10px;
  margin-top: 400px;
  width: 270px;
}

.foto-3 {
  width: 750px;
  margin-bottom: 200px;
  margin-left: 100px;
}

.foto-4 {
  margin-left: 140px;
  margin-bottom: 500px;
  width: 230px;
}

.foto-5 {
  position: absolute;
  z-index: 2;
  margin-left: 1216px;
  width: 300px;
  margin-top: 1100px;
}

.text-pod-foto-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 390px;
  position: absolute;
  z-index: 1;
  margin-top: 630px;
  font-size: 15px;
}

.Bank__hotel {
  font-size: 96px;
  font-family: "Times New Roman", Times, serif;
  margin-left: 0;
  color: rgba(84, 84, 84, 0.24);
  text-wrap: nowrap;
}

.Bank__hotel-span {
  color: white;
}

.color-conteiner-2-our-gallery {
  background-color: #313F38;
}

.tel-number-2 {
  font-size: 60px;
  color: rgba(53, 53, 53, 0.76);
  margin: 30px;
}

.LYSTOPADOVO {
  margin-left: 950px;
  color: rgb(85, 85, 85);
}

.get-in {
  color: rgb(39, 39, 39);
  font-size: 170px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.get-in-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 190px;
}

.get-sun {
  width: 70px;
  height: 70px;
}

.foto-footer {
  margin-top: 180px;
  width: 350px;
  margin-left: 950px;
  position: absolute;
}

.TOUCH {
  font-size: 170px;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgba(252, 209, 67, 0.968627451);
  position: absolute;
  z-index: 1;
  margin-left: 700px;
}

.curved-2 {
  position: absolute;
  z-index: 2;
  margin-top: 70px;
  width: 1520px;
}

.FIND {
  margin-top: 270px;
  color: rgb(41, 41, 41);
}

.mini-menu-2 button:last-child {
  background-color: #313f38;
  color: #ffffff;
  text-align: center;
}

.mini-menu-2 button {
  background-color: transparent;
  color: rgb(0, 0, 0);
  height: 110px;
  width: 250px;
  font-family: sans-serif;
  border: solid rgb(209, 209, 209) 1px;
}

.footer-menu {
  color: black;
}

.ABOUT-US-2 {
  color: black;
}

.mini-text-pod-about-us {
  color: black;
}

.r2021 {
  margin-top: 50px;
  color: rgb(139, 139, 139);
}

.news {
  color: black;
}

.mini-text-pod-news {
  color: black;
}

.social {
  color: black;
}

.mini-text-pod-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mini-text-pod-social li {
  color: black;
  margin-left: 20px;
}

.devidet-2 {
  margin-top: 70px;
  width: 1500px;
  margin-left: 15px;
}

.footer-menu {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.email {
  margin-left: 20px;
  width: 300px;
  height: 50px;
}

.tochka-2 {
  margin-top: 70px;
  color: white;
}