*{
    list-style: none;
    color:rgb(202, 202, 202);

}
.header{
margin: 1%;
    display: flex;
justify-content: space-between;
}
.head{
 display: flex;
}
.head li{
margin-left: 50px;
    font-size: x-small;
    text-wrap: nowrap;
  
       
   
}
.color-conteiner{
    background-color: #313F38;
   
}
.tochka{
    color: #313F38;
}