.tel-number-2{
    font-size: 60px;
    color: rgba(53, 53, 53, 0.76);
   margin: 30px;
  
}
.LYSTOPADOVO{
    margin-left: 950px;
    color: rgb(85, 85, 85);
}
.get-in{
    color: rgb(39, 39, 39);
    font-size: 170px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.get-in-div{
display: flex;
align-items: center;
margin-top: 190px;
}
.get-sun{
    width: 70px;
    height: 70px;
}
.foto-footer{
    margin-top: 180px;
    width: 350px;
    margin-left: 950px;
   position: absolute;
}
.TOUCH{
    font-size: 170px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#fcd143f7;
    position: absolute;
    z-index: 1;
    margin-left: 700px;

}
.curved-2{
    position: absolute;
    z-index: 2;
    margin-top: 70px;
    width: 1520px;

}
.FIND {
    margin-top: 270px;
    color: rgb(41, 41, 41);

}
.mini-menu-2 button:last-child{
        background-color: rgba($color: #313F38, $alpha: 1.0);
        color: #ffffff;
      text-align: center;
    
    } 

.mini-menu-2 button{
background-color:transparent ;
color: rgb(0, 0, 0);

height: 110px;
width: 250px;
font-family: sans-serif;
border: solid rgb(209, 209, 209) 1px;
}
.footer-menu{
    color: black;
}
.ABOUT-US-2{
    color: black;
}
.mini-text-pod-about-us{
    color: black;
}
.r2021{
    margin-top: 50px;
    color: rgb(139, 139, 139);
}
.news{
    color: black;
}
.mini-text-pod-news{
    color: black;
}
.social{
    color: black;
}
.mini-text-pod-social{
    display: flex;
   
        align-items: center;
}
.mini-text-pod-social li{
    color: black;

 margin-left: 20px;
}
.devidet-2{
    margin-top: 70px;
    width: 1500px;
    margin-left: 15px;

}

.footer-menu{
    margin-top: 60px;
    display: flex;
}
.email{
    margin-left: 20px;
    width: 300px;
    height: 50px;
}
.tochka-2{
    margin-top: 70px;
    color: white;
}

